#title2 {
filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#CEDFF6', endColorStr='#1E77D3', gradientType='1');
background-color:#0A6CCE;
width:100%;
color : white; 
font-family : Arial; 
text-align : right; 
vertical-align : middle; 
font-size : small; 
height : 20px; 
padding-top:4px;
padding-bottom:4px;
margin:0;
} 

.title2 {
background-color:#0A6CCE;
filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#CEDFF6', endColorStr='#1E77D3', gradientType='1');
color : white; 
font-family : Arial; 
text-align : right; 
font-size : small; 
height : 20px; 
width:100%;
margin:0;
} 
div.title2 {
background-color:#0A6CCE;
color:white; 
font-family : Arial; 
text-align : right; 
font-size : small; 
height : 20px; 
margin:0;
} 
div.title2 a {
font-family : Arial; 
text-align : right; 
font-size : small; 
height : 10px; 
text-decoration : none; 
padding-right:4px;
padding-left:4px;
color:white;
} 
div.title2 a:link {
color:white;
font-family : Arial; 
text-align : right; 
font-size : small; 
height : 10px; 
text-decoration : none; 
} 
div.title2 a:visited {
color:white;
font-family : Arial; 
text-align : right; 
font-size : small; 
height : 10px; 
text-decoration : none; 
} 
div.title2 a:hover {
backgroud-image:url(title3blue.jpg);
background-color : rgb(140,186,239); 
font-family : Arial; 
text-align : right; 
font-size : small; 
border : 1px solid white; 
height : 10px; 
text-decoration : none; 
padding-left:3px;
padding-right:3px;
color:white;
} 
.title3 { 

filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#0A6CCE', endColorStr='#FFFFFF', gradientType='1');
font-family : Arial; 
font-weight : bold; 
color : white; 
font-size : x-large; 
font-style : italic; 
padding-top : 6px; 
padding-bottom : 6px; 
width:100%;
}
#title3 { 
filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#0A6CCE', endColorStr='#FFFFFF', gradientType='1');
width:100%;
font-family : Arial; 
font-weight : bold; 
color : white; 
font-size : x-large; 
font-style : italic; 
padding-top : 2px; 
padding-bottom : 0; 
background-color:#3F8CDA;
}
#subgrad {
position:absolute;
width : 3px; 
padding : 0; 
margin : 0; 
height:18px;
font-size : small; 
vertical-align:middle;
} 

#subnav {
background-color : rgb(247,243,247); 
color : black; 
width : 100%; 
margin : 0; 
margin-left:0;
font-size:small; 
border-top:solid RGB(156,154,156) 1px;
border-bottom:solid RGB(156,154,156) 1px;
height:20px;
padding-top:3px;
padding-bottom:3px;
}
.subnav {
background-color : rgb(247,243,247); 
color : black; 
width : 100%; 
padding : 0; 
margin : 1px; 
margin-left:0;
height:20px;
font-size : small; 
height:15px;
}
div.subnav {
width:100%;
color : black; 
font-family : Arial; 
text-align : left; 
font-size : small; 
height : 11px; 
} 
div.subnav a {
font-family : Arial; 
text-align : right; 
font-size : small; 
height : 11px; 
text-decoration : none; 
padding:3px;
margin:1px;
} 
div.subnav a:link {
color : black; 
font-family : Arial; 
text-align : right; 
font-size : small; 
height : 11px; 
text-decoration : none; 
margin:1px;
} 
div.subnav a:visited {
color : black; 
font-family : Arial; 
text-align : right; 
font-size : small; 
height : 11px; 
text-decoration : none; 
} 
div.subnav a:hover {
background-color : #cfcfd7; 
border:solid RGB(156,154,156) 1px;
font-family : Arial; 
text-align : right; 
font-size : small; 
height : 11px; 
text-decoration : none; 
padding:2px;
margin:1px;
}
#menu {

background-color : rgb(247,243,247); 
color : #282a55; 
width : 150px; 
height : 100%; 
float : left; 
clear:left;
border-bottom : 1px solid rgb(156,154,156); 
padding-left : 2px; 
padding-top : 2px; 
padding-bottom : 2px; 

} 
p.menu {
font-size : small; 
text-align : left; 
margin-bottom : 1px; 
margin-top : 0; 
background-color : rgb(247,243,247); 
padding-right : 1px; 
padding-left : 3px; 

} 
p.menu a {
text-decoration : none; 
display : block; 
color : black; 
background-color : rgb(247,243,247); 
padding-top : 4px; 
padding-bottom : 4px; 
padding-right : 1px; 
padding-left : 3px; 

} 
p.menu a:hover {
width : 96%; 
background-color : #cfcfd7; 
border : 1px solid rgb(156,154,156); 
padding-top : 3px; 
padding-bottom : 3px; 
padding-left : 2px; 
} 
p.hover{
color : black; 
font-size : small; 
width : 95%; 
background-color : #cfcfd7; 
border : 1px solid rgb(156,154,156); 
padding-top : 3px; 
padding-bottom : 3px; 
padding-left : 2px; 
text-decoration:none;
margin-bottom:0;
margin-left:3px;
}
#maintext {
width:73%;
background-color : white; 
border-left : 1px solid rgb(156,154,156); 
/* height : 500px;  */
padding : 3%; 
margin-left : 152px; 
font-size : small; 
} 

body {
background-repeat : no-repeat;
background-color : rgb(247,243,247); 
position:relative;
border : medium none inherit; 
font-family : Veranda, Arial, 'Arial Bold'; 
padding : 0; 
margin : 0; 
font-size : x-small; 
} 
#search {
text-align : left; 
font-size : x-small; 
width : 22%; 
height : 10px; 
vertical-align : middle; 
} 
#footer {
background-color :rgb(140,186,239) ; 
border : 0 none inherit; 
border-top:solid blue 1px;
margin : 0; 
width : 99.5%; 
/* height : 10%;  */
height : 20px;
text-align : left; 
padding-top : 10px; 
padding-bottom : 10px; 
padding-left : 4px; 
padding-right:0px;
filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FFFFFF', endColorStr='#3F8CDA', gradientType='0');

} 
.footer {
background-color : ; 
border : 0 none inherit; 
border-top:solid blue 1px;
margin : 0; 
width : 99.5%; 
height : 10%; 
text-align : left; 
padding-top : 10px; 
padding-bottom : 10px; 
padding-left : 4px; 
padding-right:0px;
filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FFFFFF', endColorStr='#3F8CDA', gradientType='0');
} 
div.footer a:link {
color:blue;
font-size : small; 
} 
div.footer a:visited {
color:blue;
font-size : small; 
} 
div.footer a:hover {
color : rgb(66,146,231); 
font-size : small; 
text-decoration : none; 
} 
div.fav{
background-color : rgb(247,243,247);
border : 1px solid rgb(156,154,156); 
}
div.fav a{
color:RGB(0,48,156);
}
div.fav a:link{
color:RGB(0,48,156);
}
div.fav a:visited{
color:blue;
text-decoration:none;
}
div.fav a:hover{
color:black;
}
div.fav li{
vertical-align:middle;
list-style:url(bull.gif); 
}
.search{
text-align:left;
text-size:x-small;
width:22%;
height:10px;
vertical-align:middle;
float:right;
clear:right;
}

#home{
width:100%;
padding-right:0px;
visibility:hidden;
color:black;
display:none;

}
#fav{
width:100%;
padding-right:0px;
visibility:hidden;
color:black;
display:none;
}
#photo{
width:100%;
padding-right:0px;
visibility:hidden;
color:black;
display:none;
}
#guest{
width:100%;
padding-right:0px;
visibility:hidden;
color:black;
display:none;
}
#about{
width:100%;
padding-right:0px;
visibility:hidden;
color:black;
display:none;
}

#k{
width:100%;
padding-right:0px;
visibility:hidden;
color:black;
display:none;
}
#lotr{
width:100%;
padding-right:0px;
visibility:hidden;
color:black;
display:none;
}
#interest{
width:100%;
padding-right:0px;
visibility:hidden;
color:black;
display:none;
}
#create{
width:100%;
padding-right:0px;
visibility:hidden;
color:black;
display:none;
}
#forum{
width:100%;
padding-right:0px;
visibility:hidden;
color:black;
display:none;
}
#pop{
position:absolute;
background-color:rgb(140,186,239);
margin-top:17%;
width:18%;
visibility:hidden;
color:black;
display:none;
}
#php{
position:absolute;
background-color:rgb(140,186,239);
margin-top:24%;
width:18%;
visibility:hidden;
color:black;
display:none;
}
#tt{
position:absolute;
background-color:rgb(140,186,239);
margin-top:24%;
width:18%;
visibility:hidden;
color:black;
display:none;
}
#ui{
background-color : rgb(247,243,247);
visibility:hidden;
color:black;
display:none;
}
#bl{
background-color : rgb(247,243,247);
visibility:hidden;
color:black;
display:none;
}
#dba{
background-color : rgb(247,243,247);
visibility:hidden;
color:black;
display:none;
}
input{
height:18px;
border:solid black 1px;
background-color:#3f8cda;
filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FFFFFF', endColorStr='#3F8CDA', gradientType='1');
}
#coth21{
visibility:visible;
display:inline;
}
#coth23{
visibility:hidden;
display:none;
}
.blogPost{margin:0px 0px 30px 0px;font-size:100%;}
.blogPost strong{color:#000000;font-weight:bold;}
#description{padding:0px;margin:1em 12% 0px 5%;color:#ACB877;background:transparent;font-weight:light;font-size:80%;text-transform:uppercase;}
.byline{padding:0px;margin:0px;color:#444444;font-size:80%;}
.byline a{color:#935781;text-decoration:none;}
.byline a:hover{text-decoration:underline;}
#header{padding:7px 0px 30px 0px;margin:23px 0px 0px 0px;border-top:1px solid #eeeeee;background:#ffffff;color:black;}

pre { font-size: 100% }
